/* CSS Root Variables */
:root {
  --black: #333;
  --grey: #d7d7d7;
  --grey-muted: #c1c1c1;
}

.muted {
  color: var(--grey-muted);
}


/* apply a natural box layout model to all elements, but allowing components to change */
html, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--black);
  color: var(--grey);
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4em;
  margin: 1rem 0;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid var(--black);
  padding: 10px;
}

.jumbotron {
  color: var(--grey);
  border-radius: 0;
  border-bottom: 2px solid var(--grey-muted);
  height: 140px;
  width: 100%;
  position: relative;
}

.jumbotron > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div#title-container {
  left: 2rem;
}

span#current-day {
  right: 3rem;
  font-size: 3.4em;
  font-family: 'Libre Baskerville', serif;
}




#timeblocks-container {
  margin-left: 0;
  margin-top: 4rem;
}

.timeblock-row {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

ul {
  padding-left: 0;
}

.hour-container,
.save-btn{
  /* Forces side columns to stay same width */
  flex: 0 0 140px;
}

.text-entry {
  /* Lets middle column shrink/grow to available width */
  flex: 1 1 auto;
  margin-left: 1rem;
  background-color: #222;
  color: var(--grey);
  overflow: scroll;
  outline: none;
}

.hour-container {
  position: relative;
  border-right: 2px solid var(--grey-muted);
}

.hour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.save-btn {
  border: 2px solid var(--grey-muted);
  background: var(--black);
  color: var(--grey-muted);
}

.save-btn i {
  font-size: 2em;
}

.save-btn:hover {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);  
  color: #fff;
  border-color: #fff;
}
